/* line 16, ../sass/variables.scss */
.clear {
  clear: both;
}

/* line 21, ../sass/variables.scss */
.container-fluid.full-width {
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}

/* line 26, ../sass/variables.scss */
.row.row-no-gutter {
  margin: 0;
}

/* line 29, ../sass/variables.scss */
.row.row-no-gutter [class*="col-"] {
  padding: 0;
}

/* line 32, ../sass/variables.scss */
.img-full-width {
  width: 100.5%;
  height: auto;
}

/* line 36, ../sass/variables.scss */
.has-inner .row.row-no-gutter {
  margin-left: -10px;
  margin-right: -10px;
}

/* line 40, ../sass/variables.scss */
.row.row-no-gutter .inner {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 5, ../sass/menus.scss */
html {
  font-face: "Opensans", sans-serif;
}

/* line 9, ../sass/menus.scss */
.cabecera {
  background-color: black;
}
/* line 12, ../sass/menus.scss */
.cabecera .menu_sup ul, .cabecera .menu_sup li {
  font-face: "Roboto", sans-serif;
  float: right;
  padding-right: 15px;
  list-style: none;
}
/* line 20, ../sass/menus.scss */
.cabecera .banner_central {
  width: 100%;
  padding: 0;
  margin: 0;
}
/* line 26, ../sass/menus.scss */
.cabecera .menu_inf {
  background-color: black;
}
