// Definicion de colores
$blanco: white;
$negro: black;

$gris: #d2d2d2;

$marron: #7b5548;
$marron_oscuro: #5f4037;

$rojo: #ef2862;
$rojo_oscuro: #c7215a;

$azul: #00bdd4;
$azul_oscuro: #0098a7;

$lima: #ced841;
$lima_oscuro: #b0b032;

$naranja: #ffbd1a;
$naranja_oscuro: #ff9d10;

$morado: #6746b6;
$morado_oscuro: #503aa7;

$azul2: #009cf2;
$azul2_oscuro: #007cd1;

$azul_gay: #ddeaed;
$azul_gay_oscuro: #8cccd2;

// Tamaños
$enano: 5px;
$pequeño: 10px;
$mediano: 20px;
$grande: 40px;

// Limpieza estandar
.clear {
	clear: both;
}
// Extras Bootstrap
.container-fluid.full-width {
	padding-left: 0;
	padding-right: 0;
	overflow-x: hidden;
}
.row.row-no-gutter {
	margin: 0
}
.row.row-no-gutter [class*="col-"] {
	padding: 0
}
.img-full-width {
	width: 100.5%;
	height: auto;
}
.has-inner .row.row-no-gutter {
	margin-left: -10px;
	margin-right: -10px;
}
.row.row-no-gutter .inner {
	padding-left: 10px;
	padding-right: 10px;
}
// Parche bootstrap que no falte
.org-opencms-gwt-client-ui-css-I_CmsDirectEditCss-optionBar {
	position: relative;
	right: 0 !important;
}